.OrderHistoryWrapper{
  font-family: Brandon Grotesque;
    margin: 70px 0;
    width: 100%;
    height: 100vh;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    
}

.CategoriesWrapperHistoryPage{
    flex: 1;
    margin-right: -90px;
    margin-left: 5%;
    margin-top: -560px;
    
  }

.OrderHistoryCompoWrapper{
      font-family: Brandon Grotesque;
      background-color: #FFF4ED;
      margin-left: 4.5rem;
      margin-right: 6.8rem;
      margin-top: 30px;
      flex: 4;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: flex-start;
      align-content: flex-start;
    
}

.datePickerContainer{
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 200px;
  margin-right: 50px;
  
  border-radius: 15px;


}

.calendarIconPlusDatePicker{
  margin-top: 20px;
  display: flex;
  align-items: center;
  width: 100%;
}

