@import url('https://fonts.cdnfonts.com/css/brandon-grotesque');

.productPage{
    margin-top: 190px;
    margin-bottom: 20%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-left: 100px;

    
}
.productPage-details{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 600px;
    max-width: 600px;
    height: 900px;
    align-items: start;
    margin-bottom:400px
}

.product-details-image {
    height: 600px;
    width: 50%;
    transition: transform 0.5s ease-in-out;

}
.product-details-image:hover{

    transform: scale(1.05);transition: transform 0.5s ease-in-out;
}

.productPage-image{
    transition: transform 0.5s ease-in-out;
}
.productPage-image:hover{
    transform: scale(1.05);
}

.productPage-details-title-reviews-price{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 170px;

}
.productPage-details-title-reviews{
    height: 70px;
    display: flex;
    flex-direction: column;

}
.productPage-details-title-reviews p{
    font-family: 'Brandon Grotesque';
    font-style: normal;
    font-weight: 420;
    font-size: 25px;
    line-height: 51px;
    letter-spacing: 0.065em;

    color: #171717;

}
.productPage-details-reviews{
    display: flex;
    gap: 5px;
    
}
.productPage-details-reviews p{
    font-family: 'Brandon Grotesque';
    font-style: normal;
    font-weight: 450;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.065em;

    color: #171717;

}
.productPage-details-reviews hr{
    height: 30px;
    width: 1px;
}

.productPage-details-price{
    font-family: 'Brandon Grotesque';
    font-style: normal;
    font-weight: 450;
    font-size: 18px;
    line-height: 51px;
    letter-spacing: 0.065em;

    color: #171717;
}

.productPage-details-color{
    display: flex;
    flex-direction: column;
    
    

}

.color{
    font-family: 'Brandon Grotesque';
    font-style: normal;
    font-weight: 450;
    font-size: 26px;
    line-height: 40px;
    letter-spacing: 0.065em;
    display: flex;
    align-items: center;
    color: #171717;
    gap: 10px;

}


.productPage-details-colorSquares{
    display: flex;
    
}
.color span{
    font-family: 'Brandon Grotesque';
    font-style: normal;
    font-weight: 390;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0.065em;
    color: #171717;

}
.productPage-details-sizeSquares{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}
.productPage-details-size{
    display: flex;
    flex-direction: column;
    height: 150px;
}
.p__size span{
    
font-family: 'Brandon Grotesque';
font-style: normal;
font-weight: 390;
font-size: 15px;
line-height: 29px;
/* identical to box height */

letter-spacing: 0.065em;

color: #171717;
}
.p__size{
    font-family: 'Brandon Grotesque';
    font-style: normal;
    font-weight: 450;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0.065em;

color: #171717;
}
.productPage-details-amount-button{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;

}
.productPage-details-amount{
    display: flex;
    gap: 20px;
}
.productPage-details-button{
    display: flex;
    width: 100%;
    
    align-items: end;
    gap: 15px;
    font-family: 'Brandon Grotesque';
    font-style: normal;
    font-weight: 420;
    font-size: 26px;
    line-height: 46px;
    margin-bottom: 90px;
    letter-spacing: 0.065em;
    color: #F3F3F3;
}
.productPage-details-button button{
    
    width: 450px;
    height: 58px;
    margin-top: 30px;

    background: #FF6301;
    border-radius: 5px;
}

.productPage-details-description{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 500px;
}
.p__description p{
   
    font-family: 'Brandon Grotesque';
    font-style: normal;
    font-weight: 450;
    font-size: 15px;
    line-height: 40px;
    letter-spacing: 0.065em;

    color: #171717;
}
.productPage-details-description p {
    width: 600px;
    
    font-style: normal;
    font-weight: 390;
    
    line-height: 34px;
    letter-spacing: 0.065em;

    color: #171717;
    }

    
    .slick-prev::before,
    .slick-next::before {
      font-size: 40px;
    }
    

    .productPage-comments {
        margin-bottom: 10px;
        margin-top: 20px;
        margin-left: 120px;
        margin-right: 120px;
        
      }
      
      .comment-list {
        background-color: #eaeaea;
        list-style-type: none;
        padding: 0;
        border-radius: 10px;
      }
      .comment {
        background-color: #eaeaea;
        border-radius: 5px;
        padding: 10px;
        
        font-size: 14px;
        line-height: 1.4;
      }
      
      .comment-user {
        font-weight: bold;
        margin-bottom: 5px;
      }
      
      .comment-content {
        background-color: #eaeaea;
        border-radius: 7px;
        padding: 5px;
      }
      
      .comment-form {
        margin-top: 20px;
      }
      
      .comment-input {
        width: 100%;
        height: 100px;
        resize: vertical;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #ccc;
        font-family: 'Arial', sans-serif;
        font-size: 14px;
      }
      
      .comment-button {
        margin-top: 10px;
        margin-bottom: 40px;
        background: green;
        border: none;
        color: white;
        font-family: 'Arial', sans-serif;
        font-size: 14px;
        padding: 8px 16px;
        border-radius: 5px;
        cursor: pointer;
      }
      
      .comment-button:hover {
        transform: scale(1.05);
      }