@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
.heroSection-container{
    
    margin-bottom: 70px;

    height: 50rem;
    width: 100%;
    padding: 4rem 6rem;
    background: url('./assets/herosection1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    flex-direction: column;
    display: flex;
    gap: 40px;
    justify-content: center;
    text-align: left;
    display: flex;
}







.heroSection-titles{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.heroSection-titles-pp{
    padding-right: 20%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    
    letter-spacing: 0.35px;
    color: #F3F3F3;
}
.heroSection-titles-p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 37px;

    color: #EDEDED;
}
.heroSection-buttons{
    display: flex;
    
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    gap: 30px;
    color: #171717;

}
.heroSection-buttons button{
    height: 70px;
    width: 212px;
    transition: background-color 0.3s, transform 0.3s;
}

.heroSection-buttons button:hover {
  background-color: #f9f9f9;
  color: #171717;
  transform: scale(1.05);
}

@media screen and (max-width : 1150px) {
        .heroSection{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
@media screen and (max-width : 850px) {
}
    
@media screen and (max-width : 650px) {
    .heroSection-titles-h1{
        font-size: 40px;

    }
    .heroSection-titles-h1{
        padding-left: 40px;
        line-height: 60px;
    }
    .heroSection-titles p{
        padding-left: 40px;
        padding-top: 20px;
        font-family: 'Helvetica';
        font-weight: 500;
        font-size: 23px;
        line-height: 37px;
        
        
    }
    .heroSection-buttons{
        display: flex;
        padding-left: 20px;
        font-family: 'Helvetica';
    font-size: 14px;
    gap: 40px;
    
    }
    .heroSection-buttons button{
        height: 70px;
        width: 125px;
        }
        
    }
