@import url('https://fonts.cdnfonts.com/css/brandon-grotesque');


.bestSeller-section {
  overflow-x: auto;
  max-width: 95%;
  width: 100%;
  padding-left: 96px;
}
.bestSeller-section::-webkit-scrollbar {
  display: none;
}
.bestSeller-section-title {
  height: 44px;
  width: 90%;
  border-left: 5.9px solid #171717;
  display:flex;
  justify-content:space-between;
  flex-direction: row;
  align-items: center;
  margin-bottom: 28px;
  overflow: hidden;
 
}

.bestSeller-section-cards {
  display: flex; 
  overflow: auto;
  flex-direction: row;
  gap: 0px 79px;
  width: 100%;
 
  justify-content: space-between;
  margin-left: 0px;
}

.bestSeller-section-cards::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
.section-title-txt {
  font-family: 'Brandon Grotesque', sans-serif;
  font-weight: 450;
  font-size: 40px;
  line-height: 57.2px;
  color: #171717;
  overflow: hidden;

}

.loading-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Adjust the height as needed */
}