.loading-spinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .spinner {
    border: 10px solid rgba(255, 165, 0, 0.2);
    border-top: 10px solid rgba(255, 165, 0, 1);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  