.MyWishListPageWrapper{
      margin: 70px 0;
      margin-left: 5%;
      display: flex;
      
  }
  
  .categoriesPannelWishListPage{
    flex: 1;
    margin-right: -90px;
   
    margin-top: -560px;
  }
  
  .text-plus-card{
      
      margin-left: 3rem;
      flex: 4;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: flex-start;
      align-content: flex-start;
      
  }
  
  
  .cardContainerWishList {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: center;
 
    
    
  }

