.discountCard {
    padding: 10% 0;
    height: 600px;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 170px;
    background-color: rebeccapurple;
    background: url('../../assets/discount1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: scroll;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s;
  }
  .discountCard:hover {
    transform: scale(1.05);
  }
  
  .discountCard-title {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 55px;
    text-align: center;
    letter-spacing: 7.55px;
    text-transform: uppercase;
    color: #F3F3F3;
    position: relative;
    z-index: 1;
    animation: animatedText 5s linear infinite;
  }
  
  @keyframes animatedText {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .discountCard-button button {
    height: 70px;
    width: 212px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #F9F9F9;
  }
  