/* RESET */

@import url('https://fonts.cdnfonts.com/css/brandon-grotesque');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  button {
    background: none;
    border: none;
    font: inherit;
    color: inherit;
  }
  

  
  /* NORMAL STYLES */
  .header {
    position: fixed;
    width: 100%;
    z-index: 9999;
    font-family: 'Brandon Grotesque',sans-serif;
  }
  
  .top-bar {
    background-color: #F9F9F9;
    border-bottom: 0.5px solid #4a4a4a;
  }

  .top-bar__content {
    height: 75px;
    max-width: 1440px;
    padding: 0 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    color: #171717;
    transition: all 0.3s ease-in-out;
  }

  .section{
    display: flex;
    flex-direction: row;
    gap: 0px 60px;
    transition: all 0.3s ease-in-out;
  }
  
  .top-bar-icon {
    height: 26px;
    transition: all 0.3s ease-in-out;
  }
  
  .bottom-bar {
    background-color: #F9F9F9;
  }
  
  .bottom-bar__content {
    height: 75px;
    max-width: 1440px;
    padding: 0 30px;
    margin: 0 auto;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 36px;
    color: #171717;
    transition: all 0.3s ease-in-out;
  }
  
  .nav {
    font-weight: bold;
    width: 100%;
  }
  
  .nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0px 30px;
  }
  
  .nav__item {
    
  }
  
  .nav__link {
    font-size: 36px;
  font-weight: 420;
  line-height: 51.48px;
    transition: all 0.2s;
  }
  
  .nav__link:hover,
  .nav__link:focus {
    color: #4A4A4A;
  }

  .bottom-bar-icon{
    height: 36px;
  }

  /*mega box*/
  .nav__item:hover .mega-box{
    transition: all 0.2s ease;
    top: 140px;
    opacity: 1;
    visibility: visible;
  }
  
  .mega-box{
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 0px;
    top: 130px;
    opacity: 0;
    visibility: hidden;
  }
  
  .mega-box .content{
    background: #F9F9F9;
    height: 310px;
    padding: 25px 10%;
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 -1px 0px rgba(0,0,0,0.15);
  }

  .mega-box .clothing{
    justify-content: start;
    padding: 25px 10%;
    column-gap: 25%;
  }

  .sub-category-title{
    font-size: 32px;
    font-weight: 420;
    line-height: 46px;
    text-align: left;
    color: #000000;
    transition: all 0.2s;
  }
  
  .mega-box .content .row{
    width:30%;
    padding: 0 0px;
    justify-content: space-between;
  }
  
  .content .row .mega-links{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height:100%;
    column-gap: 5vh;    
  }
  
  .row .mega-links li{
    padding: 10px 0px;
  }
  
  .row .mega-links li a{
    padding: 0px;
    padding: 0 0px;
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    display: block;
    text-align: left;
    transition: all 0.2s;
  }
  
  .row .mega-links li a:hover{
    color: #4A4A4A;
  }
  /*mega box*/
  
  
  /* MEDIA QUERIES */

  @media (max-width: 1015px) {
  
    .nav__link {
      font-size: 20px;
      font-weight: 500;
    }

    .row .mega-links li a{
      font-size: 16px;
    }

    .sub-category-title{
      font-size: 20px;
      font-weight: 500;
    }
  }

  @media (max-width: 590px) {

    .top-bar__content{
      height: 40px;
      font-size: 10px;
      padding: 0 15px;
    }

    .top-bar-icon {
      height: 20px;
    }

    .section{
      gap: 0px 20px;
    }
  
    .bottom-bar__content{
      height: 40px;
      padding: 0 10px;
    }

    .nav__list {
      gap: 0px 10px;
    }

    .nav__link {
      font-size: 10px;
      font-weight: 600;
    }

    .nav__item:hover .mega-box{
      top: 75px;

    }

    .mega-box{
      top: 65px;
    }

    .row .mega-links li a{
      font-size: 10px;
    }

    .sub-category-title{
      font-size: 12px;
      font-weight: 500;
      padding: 0px;
      margin-top: -5px;
      margin-bottom: -10px;
    }

    .row .mega-links li{
      padding: 0px 0px;
    }

    .mega-box .content{
      height: 250px;
      padding: 5px 5%;
    }
  
    .mega-box .clothing{
      padding: 5px 5%;
      column-gap: 25%;
    }
    

  }