.myBagPage{
    margin: 70px 0;
    margin-left: 5%;
    flex-direction: row;
    display: flex;
    
    
    
}


.myBagCards-list{
    margin-left: 2rem;
    display: flex;
    width: 75%;
    gap: 20px;
    flex-direction: column;
    
    
}
.products-subTotal{
    background-color:#FFF4ED;
    width: 956px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:baseline;  
    
    padding: 27px 56px 16px 56px; 
    border-radius: 5px;
}
.p__products{
    font-family: 'Brandon Grotesque';
    font-style: normal;
    font-weight: 420;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0.065em;
    text-transform: uppercase;

    color: #363636;
}
.p__sub-total{
    font-family: 'Brandon Grotesque';
    font-style: normal;
    font-weight: 420;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0.065em;
    text-transform: uppercase;

    color: #363636;
}
.myBagCards-cards{
   
    gap: 30px;
    display: flex;
    flex-direction: column;
}
.myBagCards-orderButton{
    box-sizing: border-box;
    
    font-size: 16px;
    position: absolute;
    width: 207px;
    height: 70px;
    

    background: #13BA33;
    border: 1px solid #fffefe;
    border-radius: 5px;
    font-family: 'Brandon Grotesque';
    font-style: normal;
    font-weight: 420;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0.065em;
    text-transform: uppercase;

    color: #ffffff;
    }
    .rectangle-container{
        display: flex;
        width: 100px;
        height: 30px;
        align-items: center;
    }
    .rectangle-part1{
        width: 30%;
        border: 1px solid #353535;
        cursor: pointer;
        display: flex;
        justify-content: center;
    }
    .rectangle-part2{
        
        width: 30%;
        border: 1px solid #353535;
        display: flex;
        justify-content: center;
    
    }    

    .rectangle-part3{
        cursor: pointer;
        width: 30%;
        border: 1px solid #353535;
        display: flex;
        justify-content: center;
    
    }    





    .myBag{
        height: 232px;
        width: 956;
        display: flex;
        justify-content: space-between;
        background-color: #FFF4ED;
        
    }
    .myBag-left{
        width: 40%;
        display: flex;
        justify-content: flex-start;
        align-items: start;
        padding-left: 2%;
        padding-top:2% ;
        padding-bottom: 2%;
        gap: 40px;
    }
    .heyhey{
        width: 122px;
        height: 171;
        transition: transform 0.5s ease-in-out;
    }
    .heyhey img{
        transition: transform 0.5s ease-in-out;
        height: 100%;
        width: 100%;
    }
    .heyhey:hover {
   
        transform: scale(1.05); 
      }
    .myBag-left{
        font-family: 'Brandon Grotesque';
    font-style: normal;
    font-weight: 420;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.065em;
    
    color: #646464;
    
    }
    .__title {
        font-family: 'Brandon Grotesque';
        font-style: normal;
        font-weight: 420;
        font-size: 20px;
        line-height: 29px;
        letter-spacing: 0.065em;
        color: #494949;
        margin-bottom: 10px;
    }
    .myBag-right{
        padding-top:2% ;
        padding-bottom: 2%;
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .rectangle-container{
        display: flex;
        width: 100px;
        height: 30px;
        align-items: center;
    }
    .rectangle-part1{
        width: 30%;
        border: 1px solid #353535;
        cursor: pointer;
        display: flex;
        justify-content: center;
    }
    .rectangle-part2{
        width: 40%;
        border: 1px solid #353535;
        display: flex;
        justify-content: center;
    
    }
    .rectangle-part3{
        cursor: pointer;
        width: 30%;
        border: 1px solid #353535;
        display: flex;
        justify-content: center;
    
    }
    .price{
        display: flex;
        flex-direction:column;
        justify-content: space-between;
    }
    .price hr{
        width: 0;
        height: 25px;
        color: #929292;
    }
    .icons{
        width: 10%;
        display: flex;
        gap: 10px;
        
    }
    
.titleModal1{
    font-size: 24px;
    margin-bottom: 20px;


}

.CancelOptionBtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;

    


    

}

.ParagTrackModal2{
    font-size: 18px;
    color: #353535;
    margin-bottom: 20px;


}

.wrapperTrackCpyetc{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    gap: 50px;


}

.buttonCloseTrack{
    width: 80px;
    height: 40px;
    border-radius: 5px;
    background-color: #1ea2ee;
    cursor: pointer;
    color: #F3F3F3;
    position: absolute;
    bottom: 5%;
    right: 8%;
}

.myBagCards-orderButtonTrackModal{
    position: absolute;
    bottom: 5%;
    left: 8%;
    background-color: #13BA33;
    border-radius: 5px;
    width: 80px;
    height: 40px;
    color: #F3F3F3;
    cursor: pointer;
}