.shopCard {
  padding: 10% ;
  height: 580px;
  width: 490px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 100px;
  background-color: rebeccapurple;
  border-radius: 5px;
  background: url('../../assets/pexels-gleb-krasnoborov-2628215.jpg');
  background-position: 100%;
  background-size: contain;
  background-attachment: fixed;
}

.shopCard::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Adjust the opacity as needed */
  z-index: 1;
  border-radius: 5px; /* Apply the same border-radius as the main card */
}

.shopCard-title {
  position: relative;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 100px;
  width: 100%;
  text-align: end;
  letter-spacing: 7.55px;
  text-transform: uppercase;
  color: #f3f3f3;
  z-index: 2; /* Place the title above the overlay */
}

.shopCard-button {
  position: relative;
  z-index: 2; /* Place the buttons above the overlay */
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.shopCard-button button {
  height: 70px;
  width: 212px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #f9f9f9;
}
  
  
  .back-side {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0;
    background-color: transparent;
    border: none;
    height: 580px;
    width: 490px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
  }
  
  .back-title {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    width: 100%;
    text-align: end;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #f3f3f3;
    margin: 0;
    padding: 0;
    margin-bottom: 80px;
  }
  
  .offer-container {
    display: flex;
    flex-direction: column;
   
    align-items: center;
    gap: 25px;
    padding: 16px;
  }
  
  .offer-item {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    max-width: 200px;
  }
  
  .offer-title {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #f9f9f9;
    margin: 0;
    padding: 0;
  }
  
  .offer-description {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #f9f9f9;
    margin: 0;
    padding: 0;
  }
  

    .shopCard2{
        padding: 10% ;
        height: 580px;
        width: 490px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        gap: 100px;
        background-color: rebeccapurple;
        border-radius: 5px;
        background: url('../../assets/pexels-li-sun-371049.jpg');
        background-position: 100%;
        background-size: contain;
        background-attachment: fixed;
    }
    .shopCard2::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3); /* Adjust the opacity as needed */
      z-index: 1;
      border-radius: 5px; /* Apply the same border-radius as the main card */
    }
    .shopCard2-title{
        
      font-family: 'Helvetica';
      font-style: normal;
      font-weight: 700;
      font-size: 80px;
      line-height: 100px;
      width: 100%;
      text-align: start;
      letter-spacing: 7.55px;
      text-transform: uppercase;
      color: #f3f3f3;
      z-index: 2;
    }
    .shopCard2-button {
      position: relative;
      z-index: 2; /* Place the buttons above the overlay */
      width: 100%;
      display: flex;
      justify-content: flex-start;
    }
    
    .shopCard2-button button{
      height: 70px;
      width: 212px;
      font-family: 'Helvetica';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 18px;
      color: #f9f9f9;
      z-index: 2;
        }
    
    





        .front-side {
            background: url('../../assets/pexels-gleb-krasnoborov-2628215.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border: none;
            border-radius: 0;
            box-shadow: none;
          }


          .flippy-cardContainer-wrapper {
            padding: 0;
            box-shadow: none;
          }
        .flippy-container {
            width: 520px;
            height: 610px;
            
          }
          
          .flippy-card {
            width: 100%;
            height: 100%;
          }
          
          
         
          .back-side {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-end;
            padding: 0;
            background-color: #175852;
            border-radius: 0;
          }
          
          
          
          
          
          .title {
            font-family: 'Helvetica';
            font-style: normal;
            font-weight: 700;
            font-size: 80px;
            line-height: 100px;
            width: 100%;
            text-align: end;
            letter-spacing: 7.55px;
            text-transform: uppercase;
            color: #f3f3f3;
            margin: 0;
            padding: 0;
            
          }
          
          .button {
            width: 100%;
            display: flex;
            justify-content: flex-end;
          }
          
          .button button {
            height: 70px;
            width: 212px;
            font-family: 'Helvetica';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 18px;
            color: #f9f9f9;
          }
          