.TrackingPageWrapper{
    margin: 70px 0;
    width: 100%;

    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}


.categoriesPannelTrackingPage{
  flex: 1;
  margin-right: -90px;
  margin-left: 5%;
  margin-top: -560px;
  }

  
.trackingComponentContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.tableTrackingComponent{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
  margin-top: 200px;

}