.filtersAndSortWrapperCateg{
    background-color: #FFF6F6;
    width:350px ;
    height: 1080px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 200;
}


.filtersContainerCateg{
    margin-bottom: 50px;
    margin-left:20 ;
  

}


.HeaderPlusArrowPriceCateg{
    
    width: 38vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 10px;
   
}



.titleFilterscateg{
    font-family: Brandon Grotesque;
    font-weight:400;
    font-size: 20px;

}



.arrowIconCateg{
    transform: rotate(90deg); /* Corrected property name */
    width: 24px;
    height: 24px;
    display: flex; /* Added property */
    align-items: center; /* Added property */
    justify-content: center; /* Added property */
}


.arrowIconCategCategory{
    transform: rotate(270deg); /* Corrected property name */
    width: 24px;
    height: 24px;
    display: flex; /* Added property */
    align-items: center; /* Added property */
    justify-content: center; /* Added property */
}

h2{
    font-family: Brandon Grotesque;
    font-weight: 400;
    text-align: center;
    margin: 20px;
    margin-bottom: 40px;
    font-size: 28px;
    color: #252525;
}

.hrOfSelectedFilter{
    width: 290px;
    background-color: #575757;
    height: 1px;
    border: none;
    margin-top: 50px;
    margin-bottom: -40px;
}




.HeaderPlusArrowCategpannel{
    width: 38vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 10px;
}

.HeaderPlusArrowColorpannel{
    width: 38vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 10px;
}

.HeaderPlusArrowBrandpannel{
    width: 38vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 10px;
}

.HeaderPlusArrowSizepannel{
    width: 38vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 10px;
}


hr{
    width: 290px;
    background-color: #575757;
    height: 1px;
    border: none;
    margin: 10px 0;
    margin-bottom: 30px;
}

.hrOfCatgories{
    width: 290px;
    background-color: #575757;
    height: 1px;
    border: none;
    margin: 40px 0;
    margin-bottom: 30px;
}

.btnContainerPrice{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.btnFiltersPriceOpt{
    margin-top: 8px;
    border-radius: 29px;
    width: 299px;
    height: 50px;
    background-color: #171717;
    font-family: Brandon Grotesque;
    color: #F9F9F9;
    font-size: 22px;
}


.CategoryOptions{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
    margin-bottom: 10px;
    
}

.checkbox-item{
    display: flex;
    align-items: center;
    gap: 10px;
    

}
.checkbox-item input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border: 2.2px solid #333333;
    background-color: white;
    position: relative;
    cursor: pointer; 
    border-radius: 3px;
  }
  .checkbox-item input[type="checkbox"]::before {
    content: "\2713";
    position: absolute;
    top: 0;
    left: 7;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    font-size: 22px; 
    font-weight: 100;
    color: rgb(15, 15, 15); 
    visibility: hidden;
  }
.checkbox-item input[type="checkbox"]:checked::before {
    visibility: visible;
  }

  .checkbox-item label {
    font-family: Brandon Grotesque;
    font-size: 18px;
    color: #2c2c2c;
    margin-top: 0px;
    font-weight: 400;
  }