.myInfoPageWrapper{
    margin-top: 70px 0;
    
    width: 100%;
    height: 100vh;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    
}

.CategoriesWrapperMyInfoPage{
    flex: 1;
    margin-right: -90px;
    margin-left: 5%;
    margin-top: -615px;
}

.MyInfoAndMemberShipWrapper{
    flex:4 ;
    display: flex;
    justify-content: center;

    
}

.MyInfoWrapper{
    position: absolute;
    top: 28.75%;
    right: 25%;
}

.MemberShipWrapper{
    position: absolute;
    margin-top: 100px;

}